@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://themes.googleusercontent.com/static/fonts/ptsans/v6/jKK4-V0JufJQJHow6k6stALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/ptsans/v6/hpORcvLZtemlH8gI-1S-7r3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://themes.googleusercontent.com/static/fonts/ptsans/v6/DVKQJxMmC9WF_oplMzlQqbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://themes.googleusercontent.com/static/fonts/ptsans/v6/lILlYDvubYemzYzN7GbLkOY5mlVXtdNkpsMpKkrDXP4.woff) format('woff');
}

/* Helper Classes */
.oh {
  overflow: hidden;
}
.dn {
  display: none;
}
.dib {
  display: inline-block;
}
.db {
  display: block;
}
.cp {
  cursor: pointer;
}
.centeredDiv {
  margin-right: auto;
  margin-left: auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.bold {
  font-weight: bold;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clearer {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* ömer, 21/03/13 */
/* edit, 03/09/13 */
.form-multiple-column .clearfix {
  display: inline-block;
}
/** 198204: Checkbox/Radio buttons not spreading out on form builder view **/
/* Header and nav */
.header {
  min-width: 720px;
  max-width: 1140px;
  width: 98%;
  margin: 0 auto;
  padding-bottom: 9px;
  position: relative;
  z-index: 999;
  min-height: 70px;
}
.header:before,
.header:after {
  content: "";
  display: table;
}
.header:after {
  clear: both;
}
.header > a {
  padding-top: 9px;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
}
#logo-cont {
  position: absolute !important;
  top: 0;
  left: 0;
  padding-top:7px;
  float:left;
  z-index: 2;
}
#logo-cont > a {
  text-decoration: none;
}
#logo-cont a img {
  margin-left: -7px;
  margin-top: -3px;
  border: none;  
}
#fullscreen-button {
  cursor:pointer;
  float:right;
  margin-right:7px;
}
#saveButton {
  opacity:1;
  filter:alpha(opacity=100);
}
#main-nav {
  float: right;
}
/* Nav Layout */
#new-nav,
.index-new-navbg {
  font-family: "PT Sans", sans-serif;
  list-style: none inside;
  float: right;
  padding: 0;
  border: 1px solid #000;
  position: relative;
  top: -1px;
  margin-left: 15px;
  margin-top: 0;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 3px 0 #000000;
  box-shadow: 0 1px 3px 0 #000000;
  -moz-box-shadow: 0 1px 3px 0 #000000;
  background: #464646;
  background: -moz-linear-gradient(top, #464646 0%, #343434 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #464646), color-stop(100%, #343434));
  background: -webkit-linear-gradient(top, #464646 0%, #343434 100%);
  background: -o-linear-gradient(top, #464646 0%, #343434 100%);
  background: -ms-linear-gradient(top, #464646 0%, #343434 100%);
  background: linear-gradient(to bottom, #464646 0%, #343434 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#343434',GradientType=0);
}
#new-nav > li,
.index-new-navbg > li {
  float: left;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #434343;
  border-right: 1px solid #434343;
  border-left: 1px solid #212121;
}
#new-nav > li:hover,
.index-new-navbg > li:hover {
  -webkit-box-shadow: inset 0 -3px 6px -6px rgba(255, 165, 0, 0.75);
  box-shadow: inset 0 -3px 6px -6px rgba(255, 165, 0, 0.75);
  -moz-box-shadow: inset 0 -3px 6px -6px rgba(255, 165, 0, 0.75);
}
#new-nav > li:first-child,
.index-new-navbg > li:first-child {
  border-left: 1px solid #434343;
  -webkit-border-radius: 0 0 0 6px;
  -moz-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
}
#new-nav > li:last-child,
.index-new-navbg > li:last-child {
  -webkit-border-radius: 0 0 6px 0;
  -moz-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
}
#new-nav > li > a,
.index-new-navbg > li > a {
  font-size: 13px;
  color: #f5f5f5;
  font-weight: bold;
  display: block;
  text-decoration: none;
  padding: 12px 14px;
  text-shadow: 0px 1px 1px #000000;
  filter: dropshadow(color=#000000, offx=0, offy=1);
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}
#new-nav li:hover > a,
.index-new-navbg li:hover > a {
  color: orange;
}
#nav-signup-open li:hover > a {
  color: orange;
}
.apps-link:after {
  display: inline-block;
  content: "";
  width: 72px;
  height: 19px;
  position: absolute;
  top: 44px;
  left: 2px;
  background: url("//www.jotform.com/images/new-tag.png?v=2") top left no-repeat;
  z-index: -1;
}
/* Account Button */
#nav-profile li:hover .nav-acc img {
  opacity: 1;
  filter: alpha(opacity='100');
}
#nav-profile li:hover .nav-dd {
  z-index: 9999;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
#nav-profile li .nav-acc {
  padding: 8px 12px 7px;
  display: block;
}
.nav-acc {
  background: url("/images/common/ic-user-big.png") no-repeat center center transparent;
}
.nav-acc img {
  display: block;
  width: 30px;
  height: 30px;
  opacity: 0;
  filter: alpha(opacity='0');
}
/* Nav Dropdown - Dropper */
.nav-dd {
  overflow: hidden;
  list-style: inside none;
  position: absolute;
  right: -15px;
  top: 46px;
  height: 0;
  max-height: 0;
  cursor: default;
  padding: 0 12px;
  border: 1px solid transparent;
  background: transparent;
  z-index: -1;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.nav-dd:link,
.nav-dd:visited {
  overflow: hidden;
  list-style: inside none;
  position: absolute;
  right: -15px;
  top: 46px;
  height: 0;
  max-height: 0;
  cursor: default;
  padding: 0 12px;
  border: 1px solid transparent;
  background: transparent;
  z-index: -1;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.nav-dd li {
  margin: 0;
  padding: 18px;
  color: #444;
}
.nav-dd li a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #444;
  font-size: 14px;
  padding: 6px 12px;
  outline: none;
}
.nav-dd .profile {
  color: #ccc;
}
.nav-dd .profile div {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #444;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav-dd .profile a {
  display: inline;
  font-weight: normal;
  font-size: 13px;
  margin-left: 0;
  color: orange;
  padding: 0;
  border-bottom: 1px solid transparent;
}
.nav-dd .profile > a:hover {
  border-bottom: 1px solid orange;
}
.nav-dd-cont {
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}
.nav-dd-cont a {
  margin-left: 6px;
}
.nav-help-dd {
  width: 180px;
  height: 211px;
  max-height: 515px;
  z-index: 10000;
  display: none;
}
.nav-acc-dd {
  width: 240px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-acc-dd .nav-dd-arrow {
  margin-right: 12px;
}
.nav-login-dd,
.nav-signup-dd {
  width: 280px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-dd-active .nav-acc-dd,
.nav-dd-active .nav-login-dd {
  height: 425px;
  max-height: 500px;
  z-index: 10000;
}
.nav-dd-active .nav-signup-dd {
  height: auto;
  z-index: 10000;
  max-height: 500px;
  padding-bottom: 12px;
}
.nav-help-dd li {
  padding: 0;
}
.nav-help-dd li:first-child {
  padding-top: 9px;
}
.nav-help-dd li:last-child {
  padding-bottom: 9px;
}
#navHelp.open #navHelpA {
  color: orange;
}
#navHelp.open .nav-help-dd {
  display: block;
}
/* Nav Dropdown - Details */
.nav-dd-arrow {
  height: 15px;
  position: relative;
  top: 3px;
  margin-right: 6px;
  background: url("/images/common/nav-dd-arrow2.png") no-repeat top right transparent;
}
.nav-help-dd .nav-dd-arrow,
.nav-login-dd .nav-dd-arrow,
.nav-signup-dd .nav-dd-arrow {
  margin-right: 24px;
}
#nav-gravatar {
  width: 36px;
  height: 36px;
  display: block;
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 12px;
  margin-bottom: 12px;
}
.new-account-line {
  margin-bottom: 12px;
  width: 100%;
}
.new-account-line label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 6px;
}
.new-account-line input {
  width: 100%;
  padding: 6px 9px 5px;
  background: #eee;
  border: none;
  color: #444;
  font-size: 14px;
  line-height: 14px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px 0 #aaaaaa;
  box-shadow: inset 0 1px 3px 0 #aaaaaa;
  -moz-box-shadow: inset 0 1px 3px 0 #aaaaaa;
  margin: 0 !important;
}
.new-account-line input:focus {
  outline: none;
  background-color: #FFEFD0;
}
.new-account-line span {
  font-size: 13px;
  margin-bottom: 3px;
  color: #999;
  display: block;
}
.new-account-line-login {
  overflow: hidden;
  margin-top: 18px;
  margin-bottom: 0;
  color: #888;
}
.new-account-line-login button {
  display: block;
  width: 100%;
  margin-bottom: 9px;
  padding: 9px 12px 8px;
  border: 1px solid #d17600;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  text-shadow: 0 -1px 0 #d17600;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.8);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.8);
  background: #fd9f00;
  background: -moz-linear-gradient(top, #fd9f00 0%, #fe6b00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fd9f00), color-stop(100%, #fe6b00));
  background: -webkit-linear-gradient(top, #fd9f00 0%, #fe6b00 100%);
  background: -o-linear-gradient(top, #fd9f00 0%, #fe6b00 100%);
  background: -ms-linear-gradient(top, #fd9f00 0%, #fe6b00 100%);
  background: linear-gradient(to bottom, #fd9f00 0%, #fe6b00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd9f00', endColorstr='#fe6b00',GradientType=0);
  height: auto;
}
.new-account-line-login button:hover {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 0 0 100px rgba(255, 255, 255, 0.3) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 0 0 100px rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 0 0 100px rgba(255, 255, 255, 0.3) inset;
}
.new-account-line-login button:focus {
  outline: none;
}
.new-account-line-login label {
  display: inline;
  float: left;
  font-weight: normal;
  font-size: 12px;
}
.new-account-line-login label input {
  display: inline;
  width: auto;
  margin-right: 3px;
  position: relative;
  bottom: -1px;
  background: transparent;
  padding: 0;
  margin-right: 5px!important;
  float: left;
}
.new-account-line-login span {
  float: right;
  font-size: 12px;
  line-height: 18px;
  color: orange;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
.new-account-line-login span:hover {
  border-bottom: 1px solid orange;
}
/* Error & Success States - Sign Up */
.new-account-line.error input {
  background: #FFE1E1;
  border: none;
}
.new-account-line.correct input {
  background: #E6F4E2;
  border: none;
}
.new-account-line .fieldMessage {
  display: block;
  margin-left: 0;
  position: static;
  width: auto;
  font-size: 11px;
}
.new-account-line.error div.errorMessage,
.new-account-line.correct div.correctMessage,
.new-account-line.neutral div.neutralMessage {
  display: block;
  margin-top: 6px;
}
.new-account-line .errorMessage span {
  color: tomato;
}
.new-account-line .correctMessage span {
  color: green;
}
.new-account-line .errorMessage img,
.new-account-line .correctMessage img,
.new-account-line .neutralMessage img {
  position: static;
  margin: 0 0 -1px;
}
.new-account-line .errorMessage span,
.new-account-line .correctMessage span,
.new-account-line .neutralMessage span {
  position: static;
  margin-left: 3px;
  display: inline;
  font-size: 11px;
}
/* Nav Dropdown - Stats */
.stats {
  font-size: 10px;
  padding-top: 12px;
  padding-bottom: 9px;
  cursor: default;
  border-top: 1px solid #ddd;
}
.stats li {
  padding: 0;
  margin-top: 12px;
}
.stats li:first-child {
  margin-top: 6px;
}
.stats-bar {
  padding: 3px;
  height: 12px;
  background: #eee;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 1px 3px 0 #aaaaaa;
  box-shadow: inset 0 1px 3px 0 #aaaaaa;
  -moz-box-shadow: inset 0 1px 3px 0 #aaaaaa;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.stats-bar div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.5);
  background: #888;
  width: 0;
  height: 100%;
}
.stats-info p {
  margin: 4px 0 0 6px;
  color: #999;
}
.stats-usage {
  float: right;
  margin-right: 6px;
}
/* Sign-Up Form Overrides */
#registrationForm .new-account-line {
  margin-bottom: 12px;
}
#registrationForm .error.new-account-line {
  margin: 0 0 12px;
}
#registrationForm .new-account-line-login #signupButton {
  height: auto;
  margin-left: 0;
  font-size: 14px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* Footer */
.column {
  float: left;
  width: 100px;
  margin-right: 20px;
}
.last-column {
  width: 200px;
  text-align: right;
  margin-right: 0;
  float: right;
  font-size: 11px;
}
#footer {
  color: #fff;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-shadow: 0 1px 0 #000;
}
#footer a {
  color: #f90;
  text-decoration: none;
  font-size: 11px;
  line-height: 14px;
}
#footer h3 {
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: bold;
}
#footer li:hover a,
#footer a:hover {
  text-decoration: underline;
}
#footer-content {
  margin: 0 auto;
  padding: 30px;
  position: relative;
  max-width: 1140px;
  overflow: hidden;
  padding-bottom: 60px;
}
/* account stat for nav Start */
.stats-table {
  padding: 10px 8px 10px 4px;
}
.stats-table p {
  margin: 3px 0;
  font-size: 10px;
  text-shadow: 0 1px 0 #fff;
  color: #666;
  margin-left: 32px;
}
.stats-table img {
  float: left;
  margin: 10px 0;
}
.stats-container {
  padding: 10px 24px 10px 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #fff;
}
.bar-out {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 11px;
  margin: 2px 0 2px 32px;
  background-color: #ededed;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) inset, 0 1px 0 #ffffff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) inset, 0 1px 0 #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) inset, 0 1px 0 #ffffff;
}
.bar-in {
  height: 9px;
  width: 0%;
  border: 1px solid transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.2) inset, 0 3px 3px rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.2) inset, 0 3px 3px rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.2) inset, 0 3px 3px rgba(255, 255, 255, 0.5) inset;
}
.stats-container.big .bar-out {
  height: 20px;
}
.stats-container.big .bar-in {
  height: 17px;
}
.stats-container.big p {
  font-size: 14px;
}
.error-div {
  color: red;
  clear: both;
  font-size: 12px;
}
#new-nav,
.index-new-navbg,
#new-nav > li:hover,
.index-new-navbg > li:hover,
#new-nav > li:first-child,
.index-new-navbg > li:first-child,
#new-nav > li:last-child,
.index-new-navbg > li:last-child,
#new-nav > li > a,
.index-new-navbg > li > a,
.nav-acc img,
.nav-dd-cont,
#nav-gravatar,
.new-account-line input,
.new-account-line-login button,
.stats-bar,
.stats-bar div,
#registrationForm .new-account-line-login #signupButton,
.bar-out,
.bar-in {
  behavior: url(pie.htc);
}

.theme-designer-wrapper {
  position: fixed;
  width: 0;
  height: 0;
  background: rgba(0,0,0,0.4);
  background: white;
  z-index: 9999;

  -webkit-box-shadow: 0 3px 60px rgba(0,0,0.7);
  -moz-box-shadow: 0 3px 60px rgba(0,0,0.7);
  box-shadow: 0 3px 60px rgba(0,0,0.7);

  -webkit-transition: all 0.6s cubic-bezier(.10, .10, .25, .90) 1s;
  -moz-transition: all 0.3s cubic-bezier(.10, .10, .25, .90) 1s;
  -ms-transition: all 0.3s cubic-bezier(.10, .10, .25, .90) 1s;
  -o-transition: all 0.3s cubic-bezier(.10, .10, .25, .90) 1s;
  transition: all 0.6s cubic-bezier(.10, .10, .25, .90) 1s;

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.theme-designer-wrapper.active {
  top:0 !important;
  left:0 !important;
  width:100%;
  height: 100%;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.theme-designer-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
}


#button_form_themeDesigner {
  position: relative;

  -webkit-transition: all 0.3s cubic-bezier(.10, .10, .25, .90) 2s;
  -moz-transition: all 0.3s cubic-bezier(.10, .10, .25, .90) 2s;
  -ms-transition: all 0.3s cubic-bezier(.10, .10, .25, .90) 2s;
  -o-transition: all 0.3s cubic-bezier(.10, .10, .25, .90) 2s;
  transition: all 0.3s cubic-bezier(.10, .10, .25, .90) 2s;
}

/*#button_form_themeDesigner:before {
  content:'';
  position: absolute;
  top: -24px;
  left: -24px;
  width: 104px;
  height: 104px;
  z-index: 10;
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  border: 9px solid rgba(250, 195, 40, 0.9);
  box-shadow: 0 2px 2px 2px rgba(0,0,0,0.2), 0 0 30px rgba(255,255,255,.5);

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-transition: all 0.2s cubic-bezier(.57,0,.53,1.36) 1.9s;
  -moz-transition: all 0.2s cubic-bezier(.57,0,.53,1.36) 1.9s;
  -ms-transition: all 0.2s cubic-bezier(.57,0,.53,1.36) 1.9s;
  -o-transition: all 0.2s cubic-bezier(.57,0,.53,1.36) 1.9s;
  transition: all 0.2s cubic-bezier(.57,0,.53,1.36) 1.9s;
}*/

#button_form_themeDesigner.active {
  -webkit-transform:scale(1.075);
  -moz-transform:scale(1.075);
  -ms-transform:scale(1.075);
  -o-transform:scale(1.075);
  transform:scale(1.075);
}

/*#button_form_themeDesigner.active:before {
  opacity: 1;
  -webkit-transform:scale(0.7);
  -moz-transform:scale(0.875);
  -ms-transform:scale(0.875);
  -o-transform:scale(0.875);
  transform:scale(0.7);
}*/