.context-menu-add, .context-menu-auto-off, .context-menu-auto-on, .context-menu-cross_shine, .context-menu-disk, .context-menu-down, .context-menu-emails, .context-menu-expand, .context-menu-gear, .context-menu-merge-line, .context-menu-new-line, .context-menu-pencil, .context-menu-preview, .context-menu-redo, .context-menu-required-small, .context-menu-share, .context-menu-shrink, .context-menu-source, .context-menu-toggle, .context-menu-transparent, .context-menu-undo, .context-menu-up, .context-menu-wand, .context-menu-refresh{background: transparent url(images/context-menu.png?r24.0.REV) no-repeat scroll 0 0;}
.context-menu-add{background-position: -0px 0px;width:16px;height:16px;}
.context-menu-auto-off{background-position: -26px 0px;width:16px;height:16px;}
.context-menu-auto-on{background-position: -52px 0px;width:16px;height:16px;}
.context-menu-cross_shine{background-position: -78px 0px;width:16px;height:16px;}
.context-menu-disk{background-position: -104px 0px;width:16px;height:16px;}
.context-menu-down{background-position: -130px 0px;width:16px;height:16px;}
.context-menu-emails{background-position: -156px 0px;width:16px;height:16px;}
.context-menu-expand{background-position: -182px 0px;width:16px;height:16px;}
.context-menu-gear{background-position: -208px 0px;width:16px;height:16px;}
.context-menu-merge-line{background-position: -234px 0px;width:16px;height:16px;}
.context-menu-new-line{background-position: -260px 0px;width:16px;height:16px;}
.context-menu-pencil{background-position: -286px 0px;width:16px;height:16px;}
.context-menu-preview{background-position: -312px 0px;width:16px;height:16px;}
.context-menu-redo{background-position: -338px 0px;width:16px;height:16px;}
.context-menu-required-small{background-position: -364px 0px;width:16px;height:16px;}
.context-menu-share{background-position: -390px 0px;width:16px;height:16px;}
.context-menu-shrink{background-position: -416px 0px;width:16px;height:16px;}
.context-menu-source{background-position: -442px 0px;width:16px;height:16px;}
.context-menu-toggle{background-position: -468px 0px;width:16px;height:16px;}
.context-menu-transparent{background-position: -494px 0px;width:16px;height:16px;}
.context-menu-undo{background-position: -520px 0px;width:16px;height:16px;}
.context-menu-up{background-position: -546px 0px;width:16px;height:16px;}
.context-menu-wand{background-position: -572px 0px;width:16px;height:16px;}
.context-menu-refresh{background-position: -591px 1px;width:16px;height:16px;}

.context-menu-calculate_field {
    position: 0px -5px;
    width: 16px;
    height: 16px;
}
