.index-bg, .index-footer-back, .index-grad4, .index-grad6, .index-login-back, .index-navbg, .index-tab-back-grad, .index-tab-legend-image, .index-title-bg{background-color: #FC7C01; background: transparent url( images/index_x.png) repeat-x scroll 0 0;}
.index-bg{background-position: 0px -0px;height:690px;}
.index-footer-back{background-position: 0px -690px;height:350px;}
.index-grad4{background-position: 0px -1040px;height:90px;}
.index-grad6{background-position: 0px -1130px;height:33px;}
.index-login-back{background-position: 0px -1163px;height:60px;}
.index-navbg{background-position: 0px -1223px;height:36px;}
.index-tab-back-grad{background-position: 0px -1259px;height:20px;}
.index-tab-legend-image{background-position: 0px -1279px;height:21px;}
.index-title-bg{background-position: 0px -1300px;height:39px;}
.index-shadow{background: transparent url(images/index_y.png) repeat-y scroll 0 0;}
.index-shadow{background-position: -0px 0px;width:10px;}
.index-control_play_blue, .index-cross, .index-fs1, .index-pencil, .index-submissions, .index-tick{background: transparent url(images/index.png?r23.0.REV) no-repeat scroll 0 0;}
.index-control_play_blue{background-position: -0px 0px;width:16px;height:16px;}
.index-cross{background-position: -26px 0px;width:16px;height:16px;}
.index-fs1{background-position: -52px 0px;width:39px;height:39px;}
.index-pencil{background-position: -101px 0px;width:16px;height:16px;}
.index-submissions{background-position: -127px 0px;width:16px;height:16px;}
.index-tick{background-position: -153px 0px;width:16px;height:16px;}
