#header, #mTitleBar, .leftPanel, #footer, #comments, .form-all, #printer{
	display:none;
}

.page{
	position:relative;
	min-height:0;
}

#main{
	padding:0;
	position:relative;
}

#main, #mContent{
	width:auto;
}

#mContent{
	display:block !important;
}

body{
	background: none;
}

#mContent{
	border:none;
	min-height:0px;
}

.mainPanel{
	width:auto;
	border:none;
	min-height:0px;
	float:none;
}

