<div class="container">
  <h3>Click Table to Start</h3>
<div class="divider"></div>
<br />

<h3>Tables</h3>
<% @tables.each do |table| %>
<% if (table.is_occupied == false) %>
<form action="/parties" method="post">
  <input type="hidden" name="party[restaurant_table_id]" value ="<%= table.id %>">
  <input type="hidden" name="party[bill]" value=0>
  <input type="hidden" name="party[paid_bill]" value=false>
  <input type="hidden" name="restaurant_table[is_occupied]" value=true>
  <input type="hidden" name="table_id" value="<%= table.id %>">
  <input type="submit" value="<%= table.id %>">
  </form>
<% elsif (table.is_occupied == true) %>
<form action="/itemorders/new" method="get">
  <input type="submit" value="<%= table.id %>" style="background: red">
  </form>
<%end%>

<%end%>


</div>
