<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <link rel="stylesheet" href="/css/styles.css">

  </head>

  <body>

    <nav>
      <div class="nav-wrapper grey darken-4">
        <a href="/" class="brand-logo">Your Restaurant</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/fooditems">Menu</a></li>
          <li><a href="/parties">Parties</a></li>
          <li><a href="/itemorders">Orders</a></li>
          <li><a href="/admin">Admin</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
               <li><a href="/fooditems" class="text-grey darken-3">Menu</a></li>
               <li><a href="/parties" class="text-grey darken-3">Parties</a></li>
               <li><a href="/itemorders" class="text-grey darken-3">Orders</a></li>
               <li><a href="/admin" class="text-grey darken-3">Admin</a></li>
           </ul>
      </div>

    </nav>




    <!-- <div class="col s12">
     <ul class="tabs">
       <li class="tab col s3"><a href="../">Home</a></li>
       <li class="tab col s3"><a class="active" href="#test2">Parties</a></li>
       <li class="tab col s3"><a href="/../orders">Orders</a></li>
       <li class="tab col s3"><a href="/../fooditems">Menu Items</a></li>
     </ul>
   </div> -->
      <%= yield %>



  </body>
</html>
