body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 .container {
 }


.col {
}


 main {
   flex: 1 0 auto;
 }

.table-round {
  width: 33%;
  margin-bottom: 2em;
  margin-right: 15%;
  margin-top: 2em;
  display: inline-block;
  /*background-image: url("../images/transparent_circle.png");*/
  height: 3em;
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
  border: 4px lightgrey solid;
  border-radius: 100px;

}

.table-square {
  width: 50%;
  margin-bottom: 2em;
  margin-right: 15%;
  margin-top: 2em;

  display: inline-block;
  /*background-image: url("../images/transparent_circle.png");*/
  height: 3em;
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
  border: 4px lightgrey solid;
  border-radius: 5px;

}

.occupied {
  /*background-image: url("../images/transparent_circle.png");*/
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
  background-color: green;
}

.table-input {
  margin-top: 25%;
  background: rgba(0,0,0,-1);
  border:none;
}

.table-radio {
  margin-right: 10%;
  margin-bottom: 4em;
}

#main_dining_room {
  text-align: center;
  padding-left: 10%;
}

#bar {
  text-align: center;
  padding-left: 10%;
}

#outside {
  text-align: center;
  padding-left: 10%;
}

#outside.table-round {
  margin-left: 15%;
}

.time {
}

.table-card {
  width: 100%;
  height: 4em;
  margin-bottom: 2em;
  margin-left: 3%;
  display: inline-block;
  border-radius: 10px;
  border: solid grey 3px;
}

.card-panel{
  color: white;
  width: 95%;
}

.food-card {
  width: 25%;
  height: 10em;
  margin-bottom: 2em;
  margin-left: 1%;
  display: inline-block;
  border-radius: 10px;
  border: solid grey 3px;
  padding-left: 4%;
  padding-right: 4%;
}
