body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 .container {
 }


.col {
}


 main {
   flex: 1 0 auto;
 }

.table-round {
  width: 25%;
  margin-bottom: 2em;
  margin-right: 15%;
  margin-top: 2em;
  display: inline-block;
  /*background-image: url("../images/transparent_circle.png");*/
  height: 3em;
  width: 6%;
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
  border: 4px lightgrey solid;
  border-radius: 100px;

}

.table-square {
  width: 25%;
  margin-bottom: 2em;
  margin-right: 15%;
  margin-top: 2em;

  display: inline-block;
  /*background-image: url("../images/transparent_circle.png");*/
  height: 3em;
  width: 5%;
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
  border: 4px lightgrey solid;
  border-radius: 5px;

}

.occupied {
  /*background-image: url("../images/transparent_circle.png");*/
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
  background-color: green;
}

.table-input {
  margin-top: 25%;
  background: rgba(0,0,0,-1);
  border:none;
}

.table-radio {
  margin-right: 15%;
  margin-bottom: 4em;
}

#main_dining_room {
  text-align: center;
  padding-left: 10%;
}

#bar {
  text-align: center;
  padding-left: 10%;
}

#outside {
  text-align: center;
  padding-left: 10%;
}

#outside.table-round {
  margin-left: 15%;
}

.time {
}
