<div class="container">


<h3>Show me a Party</h3>
<a href="/parties">All Parties</a>
<a href="/parties/<%= @party.id %>/edit">Edit</a>

<h5>Seated at table:  <%= @party.table_id %> </h5>

<form action="/parties/<%= @party.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="DELETE THIS PARTY">
</form>

<%= @party.itemorders.name %>

</div>
