<div class="container">


<h3>Menu Items</h3>

<a href="/itemorders/new">New Order Item</a>

<ul>
  <% @itemorders.each do |itemorder| %>
    <li>
      <a href="/itemorders/<%= itemorder.id %>">
        <%= itemorder.name %>
      </a>
    </li>
  <% end %>
</ul>

</div>
