<div class="container">


<h4>Order Number: <%= @itemorder.id %></h4>
<h5>Order For Check Number : <%= @itemorder.party_id %></h5>

<a href="/itemorders">All Orders</a>
<a href="/itemorders/<%= @itemorder.id %>/edit">Edit</a>

<form action="/itemorders/<%= @itemorder.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>


</div>
