<div class="container">

<h3>Create a New Table</h3>



<form action="/restaurant_tables" method="post">
  <input type="text" name="restaurant_table[table_location]" placeholder="Table Location">
  <input type="hidden" name="restaurant_table[is_occupied]" value=false>
</form>

</div>
